extends _includes/layout

block vars
  -pageId = 'index'

block content
  include _includes/sidebar
  include _includes/bar
  +sidebar
  +bar
        
  main.main
    .page-header 
      .container 
        .container-inner
          .page-header__top
            h1.page-header__title.h2 Доставка и оплата
          ul.breadcrumbs 
            li.breadcrumbs__item 
              a.breadcrumbs__item-link(href="") Главная
            li.breadcrumbs__item 
              a.breadcrumbs__item-link(href="") Доставка и оплата

    .delivery-section.section
      .container 
        .container-inner 
          .delivery-section__block 
            p 
              | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш жирный текст. Многие программы электронной вёрстки и редакторы 
              a ссылка в тексте 
              | для примера.

            p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах.
          
          .delivery-section__block 
            h4 Подзаголовок
            p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв.

            ul 
              li Пример маркерванного списка. И композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв.
              li Пример маркерванного списка. И композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв.
              li Пример маркерванного списка. И композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв.
            
            ol 
              li Пример нумерванного списка. И композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв.
              li Пример нумерванного списка. И композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв.
              li Пример нумерванного списка. И композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв.

            p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы.