
block vars
  -pageId = 'index'

block content
  
        
  main.main
    .section-text 
      .container 
        .container-inner 
          ul 
            li 
              a(href="index.html") Главная
            li 
              a(href="catalog.html") Каталог
            li 
              a(href="delivery.html") Доставка