mixin product-card()
    .product-card.product-card--hit
        a.product-card__img(href="")
            img(src="static/img/product-img-grey-bg.jpg", alt="") 
        .product-card__rate
            img(src="static/img/rate-list.svg", alt="")
        a.product-card__title(href="") Alpha Hookah Kappa - White Cosmo
        .product-card__footer
            .product-card__price 15 900 
                span грн
            a.product-card__buy-btn.btn(href="") купить